@model StudentManagementSystem.WEB.ViewModels.StudentViewModel

@* @model StudentManagementSystem.Lib.Models.Student *@
@{
    ViewData["Title"] = "Student Details";
    // var student = ViewData["Student"];
    // var student = ViewData["Student"] as StudentManagementSystem.Lib.Models.Student;
    var photoPath = "/images/" + (string.IsNullOrEmpty(Model.Student.ImageFile) ? "no_userimage.png" : Model.Student.ImageFile);
}

@* <h1>@Model.Title</h1> *@

@* <div>
    First Name: @student.FirstName;
</div>
<div>
    Initials:@student.Initials;
</div>
<div>
    Last Name: @student.LastName;
</div> *@


@* <div>
    First Name: @ViewBag.Student.FirstName;
</div>
<div>
    Initials: @ViewBag.Student.Initials;
</div>
<div>
    Last Name: @ViewBag.Student.LastName;
</div> *@

@* <div>
    First Name: @Model.FirstName;
</div>
<div>
    Initials: @Model.Initials;
</div>
<div>
    Last Name: @Model.LastName;
</div> *@

@* <div>
    First Name: @Model.Student.FirstName;
</div>
<div>
    Initials: @Model.Student.Initials;
</div>
<div>
    Last Name: @Model.Student.LastName;
</div> *@

<h1 class="text-center">@Model.Title</h1>
<div class="d-flex justify-content-center">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center bg-primary text-white">@($"{Model.Student.FirstName} {Model.Student.LastName}")</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="@photoPath" height="200" width="200"/>
                    </div>
                    <div class="col-md-6">
                        <h6>ID: @Model.Student.Id</h6>
                        <h6>Gender: @Model.Student.Gender</h6>
                        <h6>Enrollment Date: @Model.Student.EnrollmentDate</h6>
                        @if (Model.Student.Enrollments != null)
                        {
                            <table class="table table-borderless table-responsive">
                                <thead>
                                    <tr>
                                        <th> Course </th>
                                        <th> Grade </th>
                                        <th> Instructor </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var enrollment in Model.Student.Enrollments)
                                    {
                                        <tr>
                                            <td>@enrollment.Course.Title</td>
                                            <td>@enrollment.Grade</td>
                                            <td>@enrollment.Course.Instructor</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Student isn't enrolled in the course</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <form method="post" asp-controller="Students" asp-action="Delete" asp-route-id="@Model.Student.Id">
                <input asp-for="Student.Id" hidden />
                <a asp-controller="Students" asp-action="Index" class="btn btn-secondary col-md-2">Cancel</a>
                <a asp-controller="Students" asp-action="Edit" asp-route-id="@Model.Student.Id" class="btn btn-primary col-md-2">Edit</a>
                @* <span style="display:none"> *@
                
                <span id="deleteSpan_@Model.Student.Id" class="collapse">
                    <span class="text-danger">
                        Are you sure you want to delete?
                    </span>
                    <a href="#" class="btn btn-primary" onclick="confirmDelete('@Model.Student.Id', false)">No</a>
                    <button type="submit" class="btn btn-danger">yes</button>
                </span>

                <span id="deleteButtonSpan_@Model.Student.Id">
                    <a class="btn btn-danger col-md-2" onclick="confirmDelete('@Model.Student.Id', true)">Delete</a>
                </span>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/customscripts.js"></script>
}
