@model IList<Student>

@{
    ViewData["Title"] = "List of Students";
    
}

<form method="get" asp-controller="Students" asp-action="Index">
    <div class="row mb-3">

        <div class="col-md-4">
            <label for="firstName" class="col-form-label">First Name</label>
        </div>

        <div class="col-md-4">
            <label for="lastName" class="col-form-label">Last Name</label>
        </div>

        <div class="col-md-4">
            <label for="gender" class="col-form-label">Gender</label>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-md-4 mb-2">
            <input id="firstName" name="firstName" class="form-control " />
        </div>

        <div class="col-md-4 mb-2">
            <input id="lastName" name="lastName" class="form-control" />
        </div>

        <div class="col-md-4 mb-2">
            <input id="gender" name="gender" class="form-control" />
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-4">
        <button type="submit" class="btn btn-primary text-white col-md-3">Search</button>
    </div>

</form>

<table class="table table-borderless table-striped table-responsive">
    <thead class="bg-primary text-white">
        <tr>
            <th> ID </th>
            <th> Photo </th>
            <th> First Name </th>
            <th> Initials </th>
            <th> Last Name </th>
            <th> Gender </th>
            <th> Enrollment Date </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {
            //image for student, ?? Null-coalescing operator. 
            var photoPath = "/images/" + (string.IsNullOrEmpty(student.ImageFile) ? "no_userimage.png" : student.ImageFile);
            <tr>
                <td>@student.Id</td>
                <td><img asp-append-version="true" src="@photoPath" height="60" width="60" class="img-thumbnail"/></td>
                <td>@student.FirstName</td>
                <td>@student.Initials</td>
                <td>@student.LastName</td>
                <td>@student.Gender</td>
                <td>@student.EnrollmentDate?.ToString("yyyy/MM/dd")</td>
                <td>
                    @* <a href="/students/details/@student.Id">View</a> *@
                    <a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id">View</a>
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                    <a asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/customscripts.js"></script>
}